<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/ATP6X/FirstProjectAPI6X">
        <classes>
            <class name="org.example.testcases.crud.testCreateBooking.TestCreateBookingPost">
                <methods>
                    <include name="testCaseBooking"/>
                </methods>
            </class>
            <class name="org.example.testcases.integration.TCIntegration">
<!--                <methods>-->
<!--                    <include name="testCreateBooking"/>-->
<!--                    <include name="testVerifyBookingID"/>-->
<!--                    <include name="testUpdateBookingByID"/>-->
<!--                    <include name="testDeleteBookingByID"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>